
body{
    /* padding-bottom: 120px; */
    min-height: 100vh;
}


h1 {
    font-family: 'Comfortaa', sans-serif;
    color: green;
}
  
.sticky-footer {
    background-color: #555;
    color: white;
    position: sticky;
    top:100%;
    background: #555;
  }

  #title {
    font-size:xx-large;
  }
  